<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.bookingService.dao.ICityDAO">
	<resultMap id="CityResultMap" type="com.solvd.bookingService.models.localization.City">
		<id property="id" column="id"></id>
		<result property="name" column="name"></result>
		<result property="countryId" column="country_id"></result>
	</resultMap>

	<select id="getEntities" resultMap="CityResultMap">
	<![CDATA[
		SELECT * FROM Cities;
	]]>
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT INTO Cities(name,country_id) VALUES (#{name},#{countryId});
	]]>
	</insert>
	
	<update id="update">
	<![CDATA[
		UPDATE Cities SET name = #{name}, country_id = #{countryId} WHERE id = #{id};
	]]>
	</update>
	
	<delete id="delete">
	<![CDATA[
		DELETE FROM Cities WHERE id = #{id};
	]]>
	</delete>	
</mapper>
