<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.bookingService.dao.IContinentDAO">
	<resultMap id="ContinentResultMap" type="com.solvd.bookingService.models.localization.Continent">
		<id property="id" column="id"></id>
		<result property="name" column="name"></result>
	</resultMap>

	<select id="getEntities" resultMap="ContinentResultMap">
	<![CDATA[
		SELECT * FROM Continents;
	]]>
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT INTO Continents(name) VALUES (#{name});
	]]>
	</insert>
	
	<update id="update">
	<![CDATA[
		UPDATE Continents SET name = #{name} WHERE id = #{id};
	]]>
	</update>
	
	<delete id="delete">
	<![CDATA[
		DELETE FROM Continents WHERE id = #{id};
	]]>
	</delete>	
</mapper>
