<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.bookingService.dao.IRoomTypeDAO">
	<resultMap id="RoomTypeResultMap" type="com.solvd.bookingService.models.information.RoomType">
		<id property="id" column="id"></id>
		<result property="type" column="type"></result>
	</resultMap>

	<select id="getEntities" resultMap="RoomTypeResultMap">
	<![CDATA[
		SELECT * FROM Room_Types;
	]]>
	</select>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT INTO Room_Types(type) VALUES (#{type});
	]]>
	</insert>
	
	<update id="update">
	<![CDATA[
		UPDATE Room_Types SET type = #{type} WHERE id = #{id};
	]]>
	</update>
	
	<delete id="delete">
	<![CDATA[
		DELETE FROM Room_Types WHERE id = #{id};
	]]>
	</delete>	
</mapper>
