<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties"/>
	<environments default="stage">
		<environment id="stage">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://192.168.99.100:33060/booking_service_db"/>
				<property name="username" value="root"/>
				<property name="password" value="secret"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		  <mapper resource="Mappers/CityMapper.xml"/>
	</mappers>
</configuration>